//
// colors for each year
//

// default for years with no styling
#page-container {
	background-color: #3f64ee;

	.header,
	.month > h1 {
		background-color: #ffe793;
	}

	.btn {
		background-color: lighten(#ffe793, 10%);
	}

	.sidebar {
		background-color: #ffd02d;
	}
}

// each year, root and search should move to the latest year
.root,
.search,
#page-container[data-year="2018"] {
	background-color: #676559;

	.header,
	.month > h1 {
		background-color: #87679f;
	}

	.btn {
		background-color: #a1b9bd;
	}

	.sidebar {
		background-color: #879099;
	}
}

#page-container[data-year="2017"] {
	background-color: #5c7148;

	.header,
	.month > h1 {
		background-color: #d1af94;
	}

	.btn {
		background-color: #efcec5;
	}

	.sidebar {
		background-color: #be869f;
	}
}

#page-container[data-year="2016"] {
	background-color: #034f84;

	.header,
	.month > h1 {
		background-color: #98ddde;
	}

	.btn {
		background-color: #c6f7f7;
	}

	.sidebar {
		background-color: #91a8d0;
	}
}

#page-container[data-year="2015"] {
	background-color: #692f55;

	.header,
	.month > h1 {
		background-color: #c56d69;
	}

	.btn {
		background-color: #e2b6b4;
	}

	.sidebar {
		background-color: #837d54;
	}
}

#page-container[data-year="2014"] {
	background-color: #8d5f5f;

	.header,
	.month > h1 {
		background-color: #e8ddc7;
	}

	.btn {
		background-color: lighten(#e8ddc7, 10%);
	}

	.sidebar {
		background-color: #cebfa1;
	}
}

#page-container[data-year="2013"] {
	background-color: #917d61;

	.header,
	.month > h1 {
		background-color: #b7c8a4;
	}

	.btn {
		background-color: lighten(#b7c8a4, 20%);
	}

	.sidebar {
		background-color: #8a9e75;
	}
}

#page-container[data-year="2012"] {
	background-color: #973450;

	.header,
	.month > h1 {
		background-color: #edb79c;
	}

	.btn {
		background-color: lighten(#edb79c, 20%);
	}

	.sidebar {
		background-color: #e77f4b;
	}
}

#page-container[data-year="2011"] {
	background-color: #4d3087;

	.header,
	.month > h1 {
		background-color: #e0ee83;
	}

	.btn {
		background-color: lighten(#e0ee83, 20%);
	}

	.sidebar {
		background-color: #c2d543;
	}
}

#page-container[data-year="2010"],
#page-container[data-year="2009"] {
	background-color: #3f64ee;

	.header,
	.month > h1 {
		background-color: #ffe793;
	}

	.btn {
		background-color: lighten(#ffe793, 10%);
	}

	.sidebar {
		background-color: #ffd02d;
	}
}

#page-container[data-year="2008"] {
	background-color: #869e59;

	.header,
	.month > h1 {
		background-color: #d3e0f1;
	}

	.btn {
		background-color: lighten(#d3e0f1, 10%);
	}

	.sidebar {
		background-color: #bbcbe0;
	}
}

#page-container[data-year="2005"] {
	background-color: #743a7d;

	.header,
	.month > h1 {
		background-color: #bde6d8;
	}

	.btn {
		background-color: lighten(#bde6d8, 10%);
	}

	.sidebar {
		background-color: #69c7af;
	}
}

#page-container[data-year="2004"],
#page-container[data-year="2003"] {
	background-color: #99cc33;

	.header,
	.month > h1 {
		background-color: #e2f8b6;
	}

	.btn {
		background-color: lighten(#e2f8b6, 10%);
	}

	.sidebar {
		background-color: #9dc6ef;
	}
}

#page-container[data-year="2002"],
#page-container[data-year="2001"] {
	background-color: #ff6600;

	.header {
		background-color: #fbefce;
	}

	.btn {
		background-color: lighten(#fbefce, 5%);
	}

	.sidebar {
		background-color: #ff99ff;
	}

	.month > h1 {
		background-color: #ffccff;
	}
}

#page-container[data-year="1989"],
#page-container[data-year="1987"],
#page-container[data-year="1985"],
#page-container[data-year="1983"],
#page-container[data-year="1981"] {
	background-color: #3a3a3c;

	.header {
		background-color: #e82e79;
	}

	.month > h1 {
		background-color: #6bd4db;
	}

	.btn {
		background-color: #f497bc;
	}

	.sidebar {
		background-color: #bbbbbb;
	}
}

#page-container[data-year="1988"],
#page-container[data-year="1986"],
#page-container[data-year="1984"],
#page-container[data-year="1982"],
#page-container[data-year="1980"] {
	background-color: #4e337a;

	.header,
	.month > h1 {
		background-color: #b1a6d0;
	}

	.btn {
		background-color: #d8d3e8;
	}

	.sidebar {
		background-color: #ede7d5;
	}
}

#page-container[data-year="1979"],
#page-container[data-year="1977"],
#page-container[data-year="1975"],
#page-container[data-year="1973"],
#page-container[data-year="1971"] {
	background-color: #503200;

	.header,
	.month > h1 {
		background-color: #e7b62a;
	}

	.btn {
		background-color: #f3db95;
	}

	.sidebar {
		background-color: #de8b31;
	}
}

#page-container[data-year="1978"],
#page-container[data-year="1976"],
#page-container[data-year="1974"],
#page-container[data-year="1972"],
#page-container[data-year="1970"] {
	background-color: #434210;

	.header,
	.month > h1 {
		background-color: #a2a22c;
	}

	.btn {
		background-color: #d1d196;
	}

	.sidebar {
		background-color: #f6c54c;
	}
}
